<section>
    
  <h2>Crie sua própria sala</h2>
  
  <form action="/create-room" method="POST">
      <label class="sr-only" for="room-pass" >Insira uma senha</label>
      <input type="password" id="room-pass" name="password" placeholder="Insira uma senha">
      <button>
          <img src="images/users-white.svg" alt="Criar sala"> Criar Sala
      </button>
  </form>

</section>